<div class="products col-10 justify-content-center col-lg-3">
    <article class="product bg-info text-white text-center">
        <a href="/productos/<%= producto.id %>">
            <img src="/img/productosImagenes/<%= producto.imagen %>">
            <p class="productName"><%= producto.nombre %></p>
            <p class="productPrice"><%= producto.moneda + ' $' +producto.precio %></p>
            <% if(producto.descuento) { %>
                <p class="productDiscount">Desc<%= producto.descuento %></p>
            <% } %>
        </a>
    </article>
</div>
