<article class="productDetail">
    <div class="justify-content-center">
        <img src="/img/productosImagenes/<%= producto.imagen %>">
        <ul class="productStats">
            <li class="productName"><%= producto.nombre %></li>
            <li class="productDescription">
                <%= producto.descripcion %>
            </li>
            <li class="productPrice"><%= producto.precio %></li>
            <li class="productDiscount"><%= producto.descuento %></li>
        </ul>
    </div>
</article>