<article class="productDetail">
    <div>
        <img src="<%= producto.imagen %>">
    </div>
    <div>
        <ul class="productStats">
            <br>
            <li class="productName"><%= producto.nombre %></li>
            <li class="productDescription">
                <%= producto.descripcion %>
            </li>
            <li class="productPrice"><%= producto.precio %></li>
            <li class="productDiscount"><%= producto.descuento %></li>
        </ul>
    </div>
</article>