<!DOCTYPE html>
<html>
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header') %>
        <section class="row">
            <div class="d-none d-lg-inline float-left bg-secondary" style="height: 85vh;width: 12vw">
                <span class="m-3 text-white">Categorias</span>
                <ul class="list-group list-group-flush">
                    <a href="/" class="list-group-item list-group-item-primary"><i class="far fa-dot-circle"></i> Categoria</a>
                </ul>
            </div>
            <% productos.forEach(producto => { %>
            <%- include('../partials/productArticle', {producto: producto}) %>
            <!--
            <article class="product bg-info text-white text-center">
                <a href="/productos/<%= producto.id %>">
                    <img src="/img/productosImagenes/<%= producto.imagen %>">
                    <p class="productName"><%= producto.nombre %></p>
                    <p class="productPrice"><%= producto.moneda + ' $' +producto.precio %></p>
                    <% if(producto.descuento) { %>
                        <p class="productDiscount">Desc<%= producto.descuento %></p>
                    <% } %>
                </a>
            </article>
            -->
            <% }) %>
        </section>
        <%- include('../partials/footer') %>
</body>

</html>