<!DOCTYPE html>
<html>
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header') %>
        <%- include('../partials/categories',{categorias:categorias}) %>
        <section class="row">
            <% productos.forEach(producto => { %>
            <%- include('../partials/productArticle', {producto: producto}) %>
            <% }) %>
        </section>
        <%- include('../partials/footer') %>
</body>
</html>