<!DOCTYPE html>
<html>
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header') %>
        <section>
            <%- include('../partials/categories', {categorias: categorias}) %>
            <div class="ml-5 products text-left">
                <%- include('../partials/productDetails') %>
            </div>
        </section>
        <%- include('../partials/footer') %>
    </body>
</html>
